* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family:roboto ;
  font-weight: 300;
}

.hero {
  width: 100%;
  height: 300px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(9, 13, 123, 1) 0%,
    rgba(9, 11, 122, 1) 0%,
    rgba(9, 26, 131, 1) 0%,
    rgba(9, 35, 138, 1) 0%,
    rgba(9, 22, 129, 1) 0%,
    rgba(9, 28, 133, 1) 0%,
    rgba(9, 16, 125, 1) 39%,
    rgba(0, 212, 255, 1) 100%
  );
}

.hero_title {
  color: white;
  text-align: center;
  position: relative;
  top: 150px;
}

.hero_img {
  width: 300px;
  height: 300px;
  position: relative;
  top: -65px;
  left: 150px;
}

.navbar {
  background-color: #f8fefe;
  width: 100%;
  height: 60px;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  margin: 14px;
  padding: 10px;
  font-family: roboto;
  font-size: 13px;
  border-radius: 20px;
}

.nav-link:hover {
  color: beige;
  background-color: rgb(26, 5, 99);
}

.hero_img_html {
    position: relative;
    bottom: 222px;
    left: 400px;
    width: 106px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.nav_img {
    position: relative;
    top: 0px;
    right: -10px;
    width: 89px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.nav_home {
    position: relative;
    left: 23px;
    bottom: -2px;
    width: 1rem;
    margin-right: 10px;
}

.main_title{
  color: rgba(0, 0, 255, 0.493);
  text-align: center;
  margin: 53px;
}

.main{
  display: flex;
  flex-direction:column ;
  align-items: center;
}

.main_img{
  width: 500px;
  
}

.main_paragraf{
  
  width: 50%;
  margin-top: 30px;
  text-align:justify ;
  line-height: 23px;
  font-weight: 400;
}
.cardgroup{
  display: flex;
  justify-content: center;
  gap: 70px;
}
.card{
  background-color: #f8fefe;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 380px;
  border-radius: 15px;
  border-color: #cc781b;
  border-width: 2px;
  border-style: solid;
}
.card-text{
  width: 219px;
  color: rgb(2, 0, 36);
}

.card-title{
  color: #fe4c1e;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.card-img-top{
  width: 12rem;
  border-radius: 50%;
}
.btn{
  align-items: center;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 30px;
  border-radius: 20px;
  text-align: center;
}
.btn-primary{
   background-color: rgb(254 76 30 / 80%);
  color: white;
  font-weight: 400;
}
/*estaba en 480 y cambie a 640px*/
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {

  .main_img {
    width: 400px;
}
  .cardgroup {
     flex-direction: column;
     gap: 20px;
     justify-content: center;
     align-items: center;
}
  
  
  .main_title {
    color: rgba(0, 0, 255, 0.493);
    text-align: center;
    padding: 14px;
    margin: 2px;
    font-size: 20px;
}
  
  .main_paragraf {
    width: 86%;
    font-size: 22px;
    font-weight: 400;
    margin-top: 30px;
    text-align: justify;
}
  
  
  .hero {
    width: 100%;
    height: 300px;
  }
  .nav_img {
    position: relative;
    top: 14px;
    right: -11px;
    width: 6.7%;
    height: 59%;
  }
  .hero_img_html {
    position: relative;
    bottom: 218px;
    left: -142px;
    width: 106px;

  }

  .hero_img {
    width: 231px;
    height: 295px;
    position: relative;
    top: -36px;
    left: 129px;
  }

  .hero_title {
    color: white;
    text-align: start;
    position: relative;
    top: 243px;
    font-size: 17px;
    margin-left: 10px;
  }
  .navbar {
    background-color: rgb(231, 234, 238);
    width: 100%;
    height: 55px;
  }

  .nav-link {
    display: inline-block;
    text-decoration: none;
    margin: 13px;
    padding: 9px;
    font-family: roboto;
    font-size: 13px;
  }
}
